name: Test

on: push

jobs:
  validate:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        type: [install, upgrade]
        flavor: [upstream, registry1, unicorn]
    steps:
      - run: |
          if [ "$flavor" = registry1 ]
          then
            exit 1
          fi

          if [ "$type" = install ]
          then 
            sleep 60
          fi
        env:
          type: ${{ matrix.type }}
          flavor: ${{ matrix.flavor }}

  summary :
    runs-on: ubuntu-latest
    needs:
      - validate
    if: ${{ always() }}
    steps:
      - run: echo "$matrix"
        env:
          matrix: ${{ toJSON(needs.validate) }}
